name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint

      - name: Run Tests
        run: npm test

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.basheer6270 }}
          password: ${{ secrets.GHCR}}

      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/ci-cd-demo:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ github.repository_owner }}/ci-cd-demo:latest
